= form_for @shout do |f|
  - if @shout.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shout.errors.count, "error")} prohibited this shout from being saved:"
      %ul
        - @shout.errors.full_messages.each do |msg|
          %li= msg

  .form-horizontal
    .control-group.field
      .control-label= f.label :text
      .controls= f.text_area :text, rows: 5
    .form-actions
      = f.submit 'Save', class: "btn btn-primary"
      - if @shout.persisted?
        = link_to 'Cancel', @shout, class: "btn btn-danger"
      - else
        = link_to 'Cancel', shouts_path, class: "btn btn-danger"
