- content_for :title do
  Shouts

%h1.valigned Shouts
.pull-right
  = link_to 'New Shout', new_shout_path, class: "btn btn-success"

%table.table.table-condensed
  %tr
    %th Text
    %th Date
    %th #{@config.members.singularize}
    - if admin?
      %th

  - @shouts.each do |shout|
    %tr
      %td= shout.text
      %td= shout.date.to_date
      %td= link_to shout.member.name, shout.member
      - if admin?
        %td= link_to 'Destroy', shout, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
