%p
  %b Text:
  = @shout.text
%p
  %b Date:
  = @shout.date
%p
  %b #{@config.members.singularize}:
  = @shout.member.name

- if @shout.member == current_member
  = link_to 'Edit', edit_shout_path(@shout), class: "btn btn-info"
= link_to 'Back', shouts_path, class: "btn btn-primary"
