= form_for @event_occurrence do |f|
  - if @event_occurrence.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event_occurrence.errors.count, "error")} prohibited this event_occurrence from being saved:"
      %ul
        - @event_occurrence.errors.full_messages.each do |msg|
          %li= msg
  
  = label_tag :event
  = select_tag(:event, options_for_select(@events))

  .field
    = f.label :remarks
    = f.text_field :remarks
  .field
    = f.label :start_time
    = f.datetime_select :start_time
  .field
    = f.label :end_time
    = f.datetime_select :end_time
  .field
    = f.label :success
    = f.check_box :success

  %table
    - @members.each_with_index do |m,i|
      - if new = (new_ea = f.object.event_attendances.select{|s| !s.character.nil? && s.character.member == m}).empty?
        - new_ea = f.object.class.reflect_on_association(:event_attendances).klass.new
      = f.fields_for :event_attendances, new_ea, :child_index => i do |ea|
        %tr
          %td
            .field
              = ea.check_box :_destroy, {:checked => !new}, 0, 1
              = ea.label :_destroy, m.name
          %td
            - if m.characters.many?
              - m.characters.each do |c|
                = ea.radio_button :character_id, c.id, :checked => (new && c.name==m.name) || ea.object.character_id == c.id
                = ea.label :character, c.name
            - else
              = ea.hidden_field :character_id, :value => m.characters.first.id

  .actions
    = f.submit 'Save'
