%h1 Listing event_occurrences

%table
  %tr
    %th Remarks
    %th Start time
    %th End time
    %th Success
    %th
    %th
    %th

  - @event_occurrences.each do |event_occurrence|
    %tr
      %td= event_occurrence.remarks
      %td= event_occurrence.start_time
      %td= event_occurrence.end_time
      %td= event_occurrence.success
      %td= link_to 'Show', event_occurrence
      %td= link_to 'Edit', edit_event_occurrence_path(event_occurrence)
      %td= link_to 'Destroy', event_occurrence, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Event occurrence', new_event_occurrence_path
