= form_for @requirement do |f|
  - if @requirement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@requirement.errors.count, "error")} prohibited this requirement from being saved:"
      %ul
        - @requirement.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :reusable
    = f.check_box :reusable
  .field
    = f.label :multiple
    = f.check_box :multiple

  %table
    %tr
      %th Obtained from
      %th Event
      %th Required for
    - f.object.requirement_obtainments.zip(f.object.event_requirements).each do |(next_ro,next_er)|
      %tr
        %td
          = f.fields_for :requirement_obtainments, next_ro, :child_index => next_ro.event.name do |ro|
            = ro.check_box :_destroy, {:checked => next_ro.persisted?}, 0, 1
            = ro.hidden_field :event_id, :value => next_ro.event.id
        %td= next_ro.event.name
        %td
          = f.fields_for :event_requirements, next_er, :child_index => next_ro.event.name do |er|
            = er.check_box :_destroy, {:checked => next_er.persisted?}, 0, 1
            = er.hidden_field :event_id, :value => next_er.event.id

  .actions
    = f.submit 'Save'
