= form_for @requirement do |f|
  - if @requirement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@requirement.errors.count, "error")} prohibited this requirement from being saved:"
      %ul
        - @requirement.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :reusable
    = f.check_box :reusable
  .field
    = f.label :multiple
    = f.check_box :multiple

  %table
    %tr
      %th Obtained from
      %th Event
      %th Required for
    - @events.each_with_index do |e,i|
      %tr
        %td
          - if new = (new_ro = f.object.requirement_obtainments.select{|s| s.event == e}).empty?
            - new_ro = f.object.class.reflect_on_association(:requirement_obtainments).klass.new
          = f.fields_for :requirement_obtainments, new_ro, :child_index => i do |ro|
            = ro.check_box :_destroy, {:checked => !new}, 0, 1
            = ro.hidden_field :event_id, :value => e.id
        %td= e.name
        %td
          - if new = (new_er = f.object.event_requirements.select{|s| s.event == e}).empty?
            - new_er = f.object.class.reflect_on_association(:requirement_obtainments).klass.new
          = f.fields_for :event_requirements, new_er, :child_index => i do |er|
            = er.check_box :_destroy, {:checked => !new}, 0, 1
            = er.hidden_field :event_id, :value => e.id

  .actions
    = f.submit 'Save'
