%h1 Listing requirements

%table
  %tr
    %th Name
    %th Reusable
    %th
    %th
    %th

  - @requirements.each do |requirement|
    %tr
      %td= requirement.name
      %td= requirement.reusable
      %td= link_to 'Show', requirement
      %td= link_to 'Edit', edit_requirement_path(requirement)
      %td= link_to 'Destroy', requirement, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Requirement', new_requirement_path
