%h1= @config.requirements

%table.table.table-condensed
  %tr
    %th Name
    %th Reusable
    %th
    %th

  - @requirements.each do |requirement|
    %tr
      %td= link_to requirement.name, requirement
      %td
        -if requirement.reusable
          %i.icon-ok
      %td= link_to 'Edit', edit_requirement_path(requirement), class: "btn btn-info"
      %td= link_to 'Destroy', requirement, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

%br

= link_to 'New Requirement', new_requirement_path, class: "btn btn-success"
