- content_for :title do
  = @config.requirements.pluralize

%h1.valigned= @config.requirements.pluralize
.pull-right
  = link_to new_requirement_path, class: "btn btn-success" do
    %i.icon-plus-sign.icon-white
    = "New #{@config.requirements.singularize}"

%table.table.table-condensed
  %tr
    %th Name
    %th Reusable
    %th
    %th

  - @requirements.each do |requirement|
    %tr
      %td= link_to requirement.name, requirement
      %td
        -if requirement.reusable
          %i.icon-ok
      %td= link_to 'Edit', [:edit, requirement], class: "btn btn-info"
      %td= link_to 'Destroy', requirement, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

= paginate @requirements

