= form_for @job do |f|
  - if @job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg
  .form-horizontal
    .control-group.field
      .control-label= f.label :name
      .controls= f.text_field :name
    .control-group.field
      .control-label= f.label :short_name
      .controls= f.text_field :short_name
    .control-group.field
      .control-label= f.label :remarks
      .controls= f.text_field :remarks
    .form-actions.actions
      = f.submit 'Save', class: "btn btn-primary"
      - if @job.persisted?
        = link_to 'Cancel', @job, class: "btn btn-danger"
      - else
        = link_to 'Cancel', jobs_path, class: "btn btn-danger"
