- content_for :title do
  = @config.jobs.pluralize

%h1.valigned= @config.jobs.pluralize
.pull-right
  = link_to new_job_path, class: "btn btn-success" do
    %i.icon-plus-sign.icon-white
    = "New #{@config.jobs.singularize}"

%table.table.table-condensed
  %tr
    %th Name
    %th Short name
    %th
    %th

  - @jobs.each do |job|
    %tr
      %td= link_to job.name, job
      %td= job.short_name
      %td= link_to 'Edit', edit_job_path(job), class: "btn btn-info"
      %td= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

%br

