- content_for :title do
  = @config.jobs.pluralize + " - " + @job.name

%h1.valigned= @job.name
.pull-right
  = link_to 'Edit', edit_job_path(@job), class: "btn btn-info"
  = link_to 'Back', jobs_path, class: "btn btn-primary"

%p
  %b Short name:
  = @job.short_name
%p
  %b Remarks:
  = @job.remarks

