%p
  %b Name:
  = @job.name
%p
  %b Short name:
  = @job.short_name
%p
  %b Remarks:
  = @job.remarks

= link_to 'Edit', edit_job_path(@job), class: "btn btn-info"
= link_to 'Back', jobs_path, class: "btn btn-primary"
