= form_for @reward do |f|
  - if @reward.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reward.errors.count, "error")} prohibited this reward from being saved:"
      %ul
        - @reward.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :external_value
    = f.number_field :external_value
  .field
    = f.label :remarks
    = f.text_field :remarks
  .field
    = f.label :events
    = f.fields_for :event_rewards do |er|
      = er.check_box :_destroy, {:checked => er.object.persisted?}, 0, 1
      = er.hidden_field :event_id, :value => er.object.event_id
      = er.label :_destroy, er.object.event.name

  .actions
    = f.submit 'Save'
