= form_for @reward do |f|
  - if @reward.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reward.errors.count, "error")} prohibited this reward from being saved:"
      %ul
        - @reward.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :external_value
    = f.number_field :external_value
  .field
    = f.label :remarks
    = f.text_field :remarks
  .field
    = f.label :events
    - @events.each_with_index do |e,i|
      - if new = (new_er = f.object.event_rewards.select{|s| s.event == e}).empty?
        - new_er = f.object.class.reflect_on_association(:event_rewards).klass.new
      = f.fields_for :event_rewards, new_er, :child_index => i do |er|
        = er.check_box :_destroy, {:checked => !new}, 0, 1
        = er.hidden_field :event_id, :value => e.id
      = e.name

  .actions
    = f.submit 'Save'
