= form_for @reward do |f|
  - if @reward.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reward.errors.count, "error")} prohibited this reward from being saved:"
      %ul
        - @reward.errors.full_messages.each do |msg|
          %li= msg

  .form-horizontal
    .control-group.field
      .control-label= f.label :name
      .controls= f.text_field :name
    .control-group.field
      .control-label= f.label :external_value
      .controls= f.number_field :external_value
    .control-group.field
      .control-label= f.label :remarks
      .controls= f.text_field :remarks
    .control-group.field
      = f.label :events
      = f.fields_for :event_rewards do |er|
        .control-group
          = er.hidden_field :event_id, :value => er.object.event_id
          .control-label= er.label :_destroy, er.object.event.name
          .controls= er.check_box :_destroy, {:checked => er.object.persisted?}, 0, 1

    .form-actions
      = f.submit 'Save', class: "btn btn-primary"
      - if @reward.persisted?
        = link_to 'Cancel', @reward, class: "btn btn-danger"
      - else
        = link_to 'Cancel', rewards_path, class: "btn btn-danger"
