- content_for :title do
  = @config.rewards.pluralize

%h1.valigned= @config.rewards.pluralize
.pull-right
  - if leader?
    = link_to new_reward_path, class: "btn btn-success" do
      %i.icon-plus-sign.icon-white
      = "New #{@config.rewards.singularize}"

%table.table.table-condensed
  %tr
    %th Name
    - if leader?
      %th
      %th

  - @rewards.each do |reward|
    %tr
      %td= link_to reward.name, reward
      - if leader?
        %td= link_to 'Edit', [:edit, reward], class: "btn btn-info"
        %td= link_to 'Destroy', reward, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

= paginate @rewards

