%p#notice= notice

%p
  %b Name:
  = @reward.name
%p
  %b External value:
  = @reward.external_value
%p
  %b Remarks:
  = @reward.remarks

%ol
  - points = {}
  - @reward.character_rewards.each do |cr|
    - member = cr.character.member
    - points[member.name] = member.points/cr.preference
  - points = points.sort_by {|k,v| -v}
  - points.each do |mp|
    %li= %Q{#{mp[0]} #{mp[1]}}

= link_to 'Edit', edit_reward_path(@reward)
\|
= link_to 'Back', rewards_path
