%p#notice= notice

%p
  %b Name:
  = @reward.name
%p
  %b External value:
  = @reward.external_value
%p
  %b Remarks:
  = @reward.remarks

=render 'list', :reward => @reward

= link_to 'Edit', edit_reward_path(@reward)
\|
= link_to 'Back', rewards_path
