- content_for :title do
  = @config.rewards.pluralize + " - " + @reward.name

%h1.valigned= @reward.name
.pull-right
  - if leader?
    = link_to 'Edit', [:edit, @reward], class: "btn btn-info"
  = link_to 'Back', rewards_path, class: "btn btn-primary"

%p
  %b External value:
  = @reward.external_value
%p
  %b Remarks:
  = @reward.remarks
.row
  .span4
    %b Obtained From:
    %table.table.table-condensed
      %tr
        %th #{@config.events.singularize}
        %th Drop Rate
      - @reward.event_rewards.includes(:event).visible.each do |e|
        %tr
          %td= link_to e.event.name, e.event
          %td #{(e.drop_rate*100).round(2)}%

  .span4
    %b Wishlist:
    =render 'list', :reward => @reward

