= form_for @character_job do |f|
  - if @character_job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@character_job.errors.count, "error")} prohibited this character_job from being saved:"
      %ul
        - @character_job.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :character
    = f.text_field :character
  .field
    = f.label :job
    = f.text_field :job
  .field
    = f.label :level
    = f.number_field :level
  .actions
    = f.submit 'Save'
