%p#notice= notice

%p
  %b Obtained event occurrence:
  = @character_requirement.obtained_occurrence
%p
  %b Character:
  = @character_requirement.character
%p
  %b Used event occurrence:
  = @character_requirement.used_occurrence
%p
  %b Used:
  = @character_requirement.used

= link_to 'Edit', edit_character_requirement_path(@character_requirement)
\|
= link_to 'Back', character_requirements_path
