= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .form-horizontal
    .control-group.field
      .control-label= f.label :name
      .controls= f.text_field :name
    .control-group.field
      .control-label= f.label :points
      .controls= f.number_field :points
    .control-group.field
      .control-label= f.label :failure_points
      .controls= f.number_field :failure_points
    .control-group.field
      .control-label= f.label :remarks
      .controls= f.text_field :remarks
    .control-group.field
      .control-label= f.label :hidden
      .controls= f.check_box :hidden
    .control-group.field
      .control-label= f.label :time
      .controls= f.time_select :time
    .form-actions
      = f.submit 'Save', class: "btn btn-primary"
      - if @event.persisted?
        = link_to 'Cancel', @event, class: "btn btn-danger"
      - else
        = link_to 'Cancel', events_path, class: "btn btn-danger"
