%h1.valigned= @event.name
.pull-right
  = link_to "#{@config.occurrences}", event_occurrences_path(@event), class: "btn btn-success"
  - if leader?
    = link_to 'Edit', edit_event_path(@event), class: "btn btn-info"
  = link_to 'Back', events_path, class: "btn btn-primary"

%p
  %b Points:
  = @event.points
%p
  %b Failure Points:
  = @event.failure_points
%p
  %b Remarks:
  = @event.remarks
%p
  %b Hidden:
  = @event.hidden
%p
  %b Time:
  = @event.time

.row
  -@event.rewards.each do |r|
    .span4
      %p= link_to r.name, reward_path(r)
      = render 'rewards/list', :reward => r

