%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Points:
  = @event.points
%p
  %b Failure Points:
  = @event.failure_points
%p
  %b Remarks:
  = @event.remarks
%p
  %b Hidden:
  = @event.hidden
%p
  %b Time:
  = @event.time

-@event.rewards.each do |r|
  %p= link_to r.name, reward_path(r)
  = render 'rewards/list', :reward => r

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
\|
= link_to 'Occurrences', event_occurrences_path(@event)
