%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Points:
  = @event.points
%p
  %b Remarks:
  = @event.remarks
%p
  %b Hidden:
  = @event.hidden
%p
  %b Time:
  = @event.time

-@event.rewards.each do |r|
  %p= r.name
  = render 'rewards/list', :reward => r

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
