- content_for :title do
  News

%h1.valigned News
.pull-right
  - if admin?
    = link_to new_news_path, class: "btn btn-success" do
      %i.icon-plus-sign.icon-white
      = 'New News'

%table.table.table-condensed
  %tr
    %th Text
    %th Date
    %th #{@config.members.singularize}
    - if admin?
      %th

  - @news.each do |news|
    %tr
      %td= news.text
      %td= news.date.to_date
      %td= link_to news.member.name, member_path(news.member)
      - if admin?
        %td= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

= paginate @news

