- content_for :title do
  News - News

%p
  %b Text:
  = @news.text
%p
  %b Date:
  = @news.date
%p
  %b #{@config.members.singularize}:
  = @news.member

- if admin?
  = link_to 'Edit', edit_news_path(@news), class: "btn btn-info"
= link_to 'Back', news_index_path, class: "btn btn-primary"
