= form_for @character_reward do |f|
  - if @character_reward.errors.any?
    #error_explanation
      %h2= "#{pluralize(@character_reward.errors.count, "error")} prohibited this character_reward from being saved:"
      %ul
        - @character_reward.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :character
    = f.text_field :character
  .field
    = f.label :reward
    = f.text_field :reward
  .field
    = f.label :preference
    = f.number_field :preference
  .field
    = f.label :obtained
    = f.check_box :obtained
  .field
    = f.label :obtained_date
    = f.datetime_select :obtained_date
  .field
    = f.label :reward_cycle
    = f.number_field :reward_cycle
  .field
    = f.label :obtained_points
    = f.number_field :obtained_points
  .field
    = f.label :remarks
    = f.text_field :remarks
  .actions
    = f.submit 'Save'
