= form_for @character do |f|
  - if @character.errors.any?
    #error_explanation
      %h2= "#{pluralize(@character.errors.count, "error")} prohibited this character from being saved:"
      %ul
        - @character.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :remarks
    = f.text_field :remarks
  = label_tag :member
  = select_tag(:member, options_for_select(@members), {:include_blank => ""})
  .field
  = label_tag :race
  - @races.each do |r|
    = radio_button_tag :race, r
    = label_tag r
  .field
    = f.label :jobs
    - @jobs.each do |j|
      = label :jobs, j
      -#= hidden_field_tag "jobs[]", j
      = check_box_tag "jobs[]", j
  .field
    = f.label :sex
    = f.hidden_field :sex, :value => "none" 
    = f.label :sex, :Male, :value => "Male"
    = f.radio_button :sex, "Male"
    = f.label :sex, :Female, :value => "Female"
    = f.radio_button :sex, "Female"
  .actions
    = f.submit 'Save'
