%h1 Listing characters

%table
  %tr
    %th Name
    %th Remarks
    %th Member
    %th Race
    %th Sex
    - @jobs.each do |j|
      %th= j.short_name
    %th
    %th

  - @characters.each do |character|
    %tr
      %td= link_to character.name, character
      %td= character.remarks
      %td= character.member.name
      %td= character.race.name unless character.race.nil?
      %td= character.sex
      - @jobs.each do |j|
        %td= character.character_jobs.to_a.map { |cj| cj.job }.include?(j)
      %td= link_to 'Edit', edit_character_path(character)
      %td= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Character', new_character_path
