%p#notice= notice

%p
  %b Name:
  = @character.name
%p
  %b Remarks:
  = @character.remarks
%p
  %b War:
  = @character.war
%p
  %b Mnk:
  = @character.mnk
%p
  %b Thf:
  = @character.thf
%p
  %b Whm:
  = @character.whm
%p
  %b Blm:
  = @character.blm
%p
  %b Rdm:
  = @character.rdm
%p
  %b Pld:
  = @character.pld
%p
  %b Drk:
  = @character.drk
%p
  %b Bst:
  = @character.bst
%p
  %b Brd:
  = @character.brd
%p
  %b Rng:
  = @character.rng
%p
  %b Sam:
  = @character.sam
%p
  %b Nin:
  = @character.nin
%p
  %b Drg:
  = @character.drg
%p
  %b Smn:
  = @character.smn
%p
  %b Blu:
  = @character.blu
%p
  %b Cor:
  = @character.cor
%p
  %b Pup:
  = @character.pup
%p
  %b Dnc:
  = @character.dnc
%p
  %b Sch:
  = @character.sch
%p
  %b Member:
  = @character.member.name
- if @character.race
  %p
    %b Race:
    = @character.race.name

= link_to 'Edit', edit_character_path(@character)
\|
= link_to 'Back', characters_path
