%p#notice= notice

%p
  %b Name:
  = @character.name
%p
  %b Remarks:
  = @character.remarks
- @jobs.each do |j|
  %p
    %b #{j.name}:
    = @character.character_jobs.to_a.map { |cj| cj.job }.include? j
%p
  %b Member:
  = @character.member.name
- if @character.race
  %p
    %b Race:
    = @character.race.name
%p
  %b Sex:
  = @character.sex

= link_to 'Edit', edit_character_path(@character)
\|
= link_to 'Back', characters_path
