%p#notice= notice

%p
  %b Requirement:
  = @event_requirement.requirement
%p
  %b Event:
  = @event_requirement.event

= link_to 'Edit', edit_event_requirement_path(@event_requirement)
\|
= link_to 'Back', event_requirements_path
