= form_for @event_reward do |f|
  - if @event_reward.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event_reward.errors.count, "error")} prohibited this event_reward from being saved:"
      %ul
        - @event_reward.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
