= form_for @requirement_attainment do |f|
  - if @requirement_attainment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@requirement_attainment.errors.count, "error")} prohibited this requirement_attainment from being saved:"
      %ul
        - @requirement_attainment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :event
    = f.text_field :event
  .field
    = f.label :requirement
    = f.text_field :requirement
  .actions
    = f.submit 'Save'
