%h1 Listing requirement_attainments

%table
  %tr
    %th Event
    %th Requirement
    %th
    %th
    %th

  - @requirement_attainments.each do |requirement_attainment|
    %tr
      %td= requirement_attainment.event
      %td= requirement_attainment.requirement
      %td= link_to 'Show', requirement_attainment
      %td= link_to 'Edit', edit_requirement_attainment_path(requirement_attainment)
      %td= link_to 'Destroy', requirement_attainment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Requirement attainment', new_requirement_attainment_path
