%p#notice= notice

%p
  %b Event:
  = @requirement_attainment.event
%p
  %b Requirement:
  = @requirement_attainment.requirement

= link_to 'Edit', edit_requirement_attainment_path(@requirement_attainment)
\|
= link_to 'Back', requirement_attainments_path
