- content_for :title do
  = @event.name + " " + @config.occurrences.pluralize

%h1.valigned= @config.occurrences.pluralize
.pull-right
  - if admin?
    = link_to new_event_occurrence_path(@event), class: "btn btn-success" do
      %i.icon-plus-sign.icon-white
      = "New #{@event.name} #{@config.occurrences.singularize}"
  = link_to "Back", event_path(@event), class: "btn btn-primary"

%table.table.table-condensed
  %tr
    %th Date
    %th Start time
    %th Success
    %th Optional
    - if admin?
      %th
      %th

  - @occurrences.each do |occurrence|
    %tr
      %td= link_to occurrence.end_time.to_date, event_occurrence_path(@event,occurrence)
      %td= occurrence.start_time
      %td
        -if occurrence.success
          %i.icon-ok
      %td
        -if occurrence.optional
          %i.icon-ok
      - if admin?
        %td= link_to 'Edit', edit_event_occurrence_path(@event,occurrence), class: "btn btn-info"
        %td= link_to 'Destroy', event_occurrence_path(@event,occurrence), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

%br

