%h1 Listing occurrences

%table.table.table-condensed
  %tr
    %th Event
    %th Remarks
    %th Start time
    %th End time
    %th Success
    %th Optional
    - if admin?
      %th
      %th

  - @occurrences.each do |occurrence|
    %tr
      %td= link_to @event.name, event_occurrence_path(@event,occurrence)
      %td= occurrence.remarks
      %td= occurrence.start_time
      %td= occurrence.end_time
      %td= occurrence.success
      %td= occurrence.optional
      - if admin?
        %td= link_to 'Edit', edit_event_occurrence_path(@event,occurrence), class: "btn btn-info"
        %td= link_to 'Destroy', event_occurrence_path(@event,occurrence), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

%br

- if admin?
  = link_to 'New Event occurrence', new_event_occurrence_path(@event), class: "btn btn-success"
