- content_for :title do
  = @event.name + " " + @config.occurrences.pluralize + " - New " + @event.name + " " + @config.occurrences.singularize

%h1 New #{@event.name} #{@config.occurrences.singularize}

= render 'form'

= javascript_include_tag "occurrences"
