- content_for :title do
  = @event.name + " " + @config.occurrences.pluralize + " - " + @event.name + " " + @config.occurrences.singularize

%h1.valigned #{@event.name} #{@config.occurrences.singularize}
.pull-right
  - if admin?
    = link_to 'Edit', [:edit, @event,@occurrence], class: "btn btn-info"
  = link_to 'Back', event_occurrences_path(@event), class: "btn btn-primary"

%p
  - if @occurrence.success
    .badge.badge-success= @event.points + (@occurrence.bonus_points || 0)
  - else
    .badge.badge-danger= @event.failure_points || 0

%p
  %b Entered by:
  = link_to @occurrence.member.name, @occurrence.member if @occurrence.member
%p
  %b Remarks:
  = @occurrence.remarks
%p
  %b Start time:
  = @occurrence.start_time
%p
  %b End time:
  = @occurrence.end_time
%p
  %b Optional:
  = @occurrence.optional

.row
  .span3#attendees
    %b Attendees:
    %ol
      - @occurrence.characters.includes(:member).order(:name).each do |character|
        %li= link_to character.name, character.member

  - rewards = @occurrence.character_rewards.includes(:reward).includes(:character).includes(:member)
  - unless rewards.empty?
    .span4#rewards_obtained
      %b #{@config.rewards.pluralize}:
      %table.table.table-condensed
        - rewards.each_with_index do |reward, i|
          %tr
            %td #{i+1}.
            %td= link_to reward.reward.name, reward.reward
            %td= link_to reward.character.name, reward.member

  - used_requirements = @occurrence.used_requirements
  - unless used_requirements.empty?
    .span4#used_occurrences
      %b #{@config.requirements.pluralize} Used:
      %table.table.table-condensed
        - used_requirements.each_with_index do |requirement, i|
          %tr
            %td #{i+1}.
            %td= link_to requirement.requirement.name, requirement.requirement
            %td= link_to requirement.character.name, requirement.character.member

  - obtained_requirements = @occurrence.obtained_requirements
  - unless obtained_requirements.empty?
    .span4#obtained_requirements
      %b #{@config.requirements.pluralize} Obtained:
      %table.table.table-condensed
        - obtained_requirements.each_with_index do |requirement, i|
          %tr
            %td #{i+1}.
            %td= link_to requirement.requirement.name, requirement.requirement
            %td= link_to requirement.character.name, requirement.character.member

