%p#notice= notice

%p
  %b Entered by:
  = link_to @occurrence.member.name, member_path(@occurrence.member)
%p
  %b Remarks:
  = @occurrence.remarks
%p
  %b Start time:
  = @occurrence.start_time
%p
  %b End time:
  = @occurrence.end_time
%p
  %b Success:
  = @occurrence.success
%p
  %b Optional:
  = @occurrence.optional
%p
  %b Attendees:
  - @occurrence.characters.order(:name).each do |character|
    = link_to character.name, member_path(character.member)

%p
  %b Drops:
  - @occurrence.character_rewards.each do |reward|
    = link_to reward.reward.name, reward_path(reward.reward)
    \:
    = link_to reward.character.name, member_path(reward.member)

%p
  %b Requirements Used:
  - @occurrence.used_requirements.each do |requirement|
    = link_to requirement.requirement.name, requirement_path(requirement.requirement)
    \:
    = link_to requirement.character.name, member_path(requirement.character.member)
%p
  %b Requirements Obtained:
  - @occurrence.obtained_requirements.each do |requirement|
    = link_to requirement.requirement.name, requirement_path(requirement.requirement)
    \:
    = link_to requirement.character.name, member_path(requirement.character.member)

= link_to 'Edit', edit_event_occurrence_path(@event,@occurrence)
\|
= link_to 'Back', event_occurrences_path(@event)
