!!! 5

%html
  %head
    %title Cvweb
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application" 
    = csrf_meta_tags 

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        = link_to " Cvweb", home_index_path, class: :brand
        .container
          %ul.nav.nav-pills
            %li=link_to 'Roster', members_path, id: :members
            %li=link_to 'Events', events_path, id: :events
            %li=link_to 'Loot', rewards_path, id: :rewards
            %li.dropdown
              %a.dropdown-toggle{ data: {toggle: :dropdown}, href: "#"}
                Raids
                %b.caret
              %ul.dropdown-menu
                - event_list.each do |event|
                  %li= link_to event.name, event_occurrences_path(event)
            %li=link_to 'Shout!', shouts_path, id: :shouts

            - if leader?
              %li.dropdown#leader_menu
                %a.dropdown-toggle{ :data => {toggle: "dropdown"}, href: "#"}
                  Configuration
                  %b.caret
                %ul.dropdown-menu
                  %li=link_to 'Jobs', jobs_path, id: :jobs
                  %li=link_to 'Races', races_path, id: :races
                  %li=link_to 'Requirements', requirements_path, id: :requirements
                      
          .pull-right
            %ul.nav
              %li.dropdown
                %a.dropdown-toggle{ :data => {toggle: "dropdown"}, href: "#"}
                  = current_member.name
                  %b.caret
                %ul.dropdown-menu
                  %li=link_to 'My Page', @current_member
                  %li=link_to 'Logout', logout_url, id: :logout

    .container 
      #main
        - if flash[:notice]
          #notice.message.alert.alert-success= flash[:notice]
        - elsif flash[:warning]
          #warning.message.alert= flash[:warning]
 
        = yield
  
      %p
