%h3 Character
.field
  = f.label :name
  = f.text_field :name
.field
  = f.label :remarks
  = f.text_field :remarks
.field
  = label_tag :race
  - @races.each do |r|
    = f.radio_button :race_id, r.id
    = f.label r.name
.field
  = f.label :jobs
  = f.fields_for :character_jobs do |cj|
    = render 'character_jobs', :f => cj
.field
  = f.label :sex
  = f.hidden_field :sex, :value => "none" 
  = f.label :sex, :Male, :value => "Male"
  = f.radio_button :sex, "Male"
  = f.label :sex, :Female, :value => "Female"
  = f.radio_button :sex, "Female"
