= form_for @member do |f|
  - if @member.errors.any?
    #error_explanation
      %h2= "#{pluralize(@member.errors.count, "error")} prohibited this member from being saved:"
      %ul
        - @member.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :remarks
    = f.text_field :remarks
  .field
    = f.label :active, :Inactive
    = f.check_box :active, {checked: @member.active==false}, 0, 1
  .field
    = f.fields_for :characters do |c|
      = render 'character', :f => c
    = link_to_add_fields "Add Character", f, :characters
  .field
    %table
      %tr
        %th
        %th Reward
        - if @member.characters.many?
          %th Character
      - @rewards.each_with_index do |r, i|
        %tr
          - next_cr = @member.character_rewards.find{ |cr| cr.preference == i+1}
          - next_cr ||= @member.character_rewards.build(preference: i+1)
          %td #{i+1}
          - if next_cr.obtained
            %td= next_cr.reward.name
            - if @member.characters.many?
              %td= next_cr.character.name
          - else
            = f.fields_for :character_rewards, next_cr, :child_index => i do |cr|
              %td= cr.collection_select :reward_id, @available_rewards, :id, :name, include_blank: ''
              - if @member.characters.many?
                %td= cr.collection_select :character_id, @member.characters, :id, :name
              - else
                = cr.hidden_field :character_id, value: @member.characters.first.id
              = cr.hidden_field :preference, value: i+1

  .actions
    = f.submit 'Save'
