= form_for @member do |f|
  - if @member.errors.any?
    #error_explanation
      %h2= "#{pluralize(@member.errors.count, "error")} prohibited this member from being saved:"
      %ul
        - @member.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :remarks
    = f.text_field :remarks
  .field
    = f.label :active
    = f.text_field :active
  .field
    = f.fields_for :characters do |c|
      = render 'character', :f => c
    = link_to_add_fields "Add Character", f, :characters
  #reward_prefs.field
    = hidden_field_tag :reward_preferences, @selected_rewards.collect {|r| r.id}.join(" ")
    %table
      %tr
        %td= select_tag :preferences, options_from_collection_for_select(@selected_rewards, "id", "name"), :multiple => true, :name => "preferences", :size => 15
        -# @rewards.each do |r|
          %option= r.name
        %td
          %table
            %tr
              %td= button_to_function "Up", "upSelected()", :style => "width:150"
            %tr
              %td= button_to_function "Down", "downSelected()", :style => "width:150"
            %tr
              %td= button_to_function "<-Add", "addSelected()", :style => "width:150"
            %tr
              %td= button_to_function "Remove->", "removeSelected()", :style => "width:150"
        %td= select_tag :reward_list, options_from_collection_for_select(@available_rewards, "id", "name"), :multiple => true, :name => "option", :size => 15
     

  .actions
    = f.submit 'Save'
