- content_for :title do
  = @config.members.pluralize + " - " + @member.name + " Attendance"

%h1.valigned #{@member.name} Attendance

.pull-right
  = link_to 'Back', member_path(@member), class: "btn btn-primary"

%p

= render 'attendance_list', attendances: @attendances

= paginate @attendances


