- content_for :title do
  = @config.members.pluralize

- if @update_active
  = form_tag update_active_members_path, method: :put
- elsif @update_admins
  = form_tag update_admins_members_path, method: :put
%h1.valigned= @config.members.pluralize
.pull-right
  - if admin?
    - if @update_active
      = submit_tag 'Update Active', class: "btn btn-primary"
      = link_to 'Cancel', members_path, class: "btn btn-danger"
    - elsif @update_admins
      = submit_tag 'Update Admins', class: "btn btn-primary"
      = link_to 'Cancel', members_path, class: "btn btn-danger"
    - else
      = link_to 'Update Admins', members_path(update_admins: 1), class: "btn btn-info"
      = link_to 'Update Active', members_path(update_active: 1), class: "btn btn-info"
      = link_to new_member_path, class: "btn btn-success" do
        %i.icon-plus-sign.icon-white
        = "New #{@config.members.singularize}"

%table.table.table-condensed
  %tr
    - if @update_active || @update_admins
      %th
    %th Name
    %th Points
    %th Join date
    %th Admin
    %th Leader
    %th Cycle
    %th Cycle date
    - if admin?
      %th
    - if leader?
      %th

  - @members.each do |member|
    %tr{id: member.name}
      - if @update_active
        %td= check_box_tag "member_ids[]", member.id, member.active, id: "member_ids_#{member.id}"
      - if @update_admins
        %td= check_box_tag "member_ids[]", member.id, member.admin, id: "member_ids_#{member.id}"
      %td= link_to member.name, member
      %td
        .badge.badge-success= member.current_points
      %td= member.join_date
      %td
        -if member.admin
          %i.icon-ok
      %td
        -if member.leader
          %i.icon-ok
      %td= member.reward_cycle
      %td= member.cycle_date
      - if admin?
        %td= link_to 'Edit', edit_member_path(member), class: "btn btn-info"
      - if leader?
        %td= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"

%br

