%h1 Listing members

- if @update_active
  = form_tag update_active_members_path, method: :put

%table.table.table-condensed
  %tr
    - if @update_active
      %th
    %th Name
    %th Points
    %th Join date
    %th Url
    %th Remarks
    %th Active
    %th Admin
    %th Leader
    %th Reward cycle
    %th Cycle date
    - if admin?
      %th
    - if leader?
      %th

  - @members.each do |member|
    %tr{id: member.name}
      - if @update_active
        %td= check_box_tag "member_ids[]", member.id, member.active, id: "member_ids_#{member.id}"
      %td= link_to member.name, member
      %td= member.current_points
      %td= member.join_date
      %td= member.url
      %td= member.remarks
      %td= member.active
      %td= member.admin
      %td= member.leader
      %td= member.reward_cycle
      %td= member.cycle_date
      - if admin?
        %td= link_to 'Edit', edit_member_path(member), class: "btn btn-info"
      - if leader?
        %td= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"

%br

- if admin?
  - if @update_active
    = submit_tag 'Update Active', class: "btn btn-primary"
    = link_to 'Cancel', members_path, class: "btn btn-danger"
  - else
    = link_to 'Update Active', members_path(update_active: 1), class: "btn btn-info"
    = link_to 'New Member', new_member_path, class: "btn btn-success"
